src/components/modules/chatbot/agents/Company Website Chatbot Agent (RAG, Calendar integrations) (2).json
{
  "name": "Company Website Chatbot Agent (RAG, Calendar integrations)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        -160
      ],
      "id": "db4bc0a2-98dc-4a3b-b2a1-32b8cd789159",
      "name": "Webhook",
      "webhookId": "f18aca18-5ade-4c75-ab64-1496a980b445"
    },
    {
      "parameters": {
        "jsCode": "// === STORE CONTEXT v2 - ENHANCED STATE MANAGEMENT ===\n\nconst message = $json.body.message;\nconst sessionId = $json.body.sessionId;\nconst metadata = $json.body.metadata || {};\nconst newFileUrl = $json.body.fileUrl || null;\n\n// Recuperar estado del calendario de metadata (si existe)\nconst pendingBooking = metadata.pendingBooking || null;\nconst customerEmail = metadata.customerEmail || '';\nlet customerData = metadata.customerData || null;\n\nconsole.log('=== STORE CONTEXT v2 ===');\nconsole.log('Message:', message);\nconsole.log('SessionId:', sessionId);\nconsole.log('FileUrl:', newFileUrl);\nconsole.log('PendingBooking from metadata:', JSON.stringify(pendingBooking));\nconsole.log('CustomerEmail from metadata:', customerEmail);\nconsole.log('CustomerData from metadata:', JSON.stringify(customerData));\n\n// IMPROVED: Detectar customerData del mensaje con mejor parsing\n// Detecta formatos como: \"Juan Pérez, juan@mail.com, quiero una demo\"\nconst dataMatch = message.match(/^\\s*([^,]+?)\\s*,\\s*([\\w._%+-]+@[\\w.-]+\\.[a-zA-Z]{2,})\\s*,\\s*(.+?)\\s*$/i);\nif (dataMatch && !customerData) {\n  const potentialName = dataMatch[1].trim();\n  const potentialEmail = dataMatch[2].trim();\n  const potentialReason = dataMatch[3].trim();\n  \n  // Validaciones básicas\n  if (potentialEmail.includes('@') && potentialName.length >= 3 && potentialReason.length >= 3) {\n    customerData = {\n      name: potentialName,\n      email: potentialEmail,\n      reason: potentialReason\n    };\n    console.log('✅ CustomerData detectado en mensaje:', JSON.stringify(customerData));\n  } else {\n    console.log('⚠️ Formato detectado pero validación falló');\n  }\n}\n\n// Agregar fileUrl al mensaje si existe\nlet enhancedMessage = message;\nif (newFileUrl) {\n  enhancedMessage = `${message}\\n\\n[SYSTEM: User attached file: ${newFileUrl}]`;\n  console.log('✅ FileUrl inyectado en el mensaje');\n}\n\nreturn [{\n  json: {\n    chatInput: enhancedMessage,\n    sessionId: sessionId,\n    action: \"sendMessage\",\n    metadata: metadata,\n    fileUrl: newFileUrl,\n    query: message,\n    pendingBooking: pendingBooking,\n    customerEmail: customerEmail,\n    customerData: customerData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -160
      ],
      "id": "41cc2fef-ba83-4934-8350-47bc4253066a",
      "name": "Store Context and FileUrl"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Aurin's chatbot assistant. You route requests to tools - NEVER answer directly or ask for info yourself.\\n\\nTOOLS:\\n• RAGagent - FAQs about Aurin services, portfolio, expertise\\n• calendarAgent - SOLO para citas rápidas de 30 minutos (demos, consultas breves)\\n• ticketAgent - Para proyectos complejos, presupuestos, consultas profundas\\n\\n=== CALENDAR AGENT (Citas Rápidas) ===\\n\\n**PURPOSE:** Quick 30-minute appointments (demos, brief consultations)\\n\\n**HOURS:** Monday-Friday, 11 AM-5:30 PM (Mexico City time, GMT-6)\\n\\n**REQUIREMENTS:** name, email, brief reason\\n\\n**IMPORTANT:** 24-hour advance notice required. User must confirm via email within 24h or appointment auto-cancels.\\n\\n=== CALENDAR WORKFLOW - FOLLOW EXACTLY ===\\n\\n**STEP 1:** User asks for appointment\\n→ Call: calendarAgent(query: \\\"[user's exact message]\\\")\\n→ Tool returns: Available time slots\\n\\n**STEP 2:** User selects a time (e.g. \\\"Martes a las 3 PM\\\")\\n→ Call: calendarAgent(query: \\\"[user's exact message with time]\\\")\\n→ Tool returns: Time confirmed, requests user data (name, email, reason)\\n\\n**STEP 3:** User provides data (e.g. \\\"Juan Pérez, juan@mail.com, quiero una demo\\\")\\n→ Call: calendarAgent(query: \\\"BOOKING: name=Juan Pérez, email=juan@mail.com, reason=demo\\\")\\n→ Tool creates appointment and sends confirmation\\n\\n=== CRITICAL RULES ===\\n\\n1. **ALWAYS pass user's exact message** as query parameter - NEVER modify it\\n2. **NEVER ask for user info yourself** - let calendarAgent handle the conversation\\n3. **ONLY use BOOKING format** after tool has requested user data\\n4. **NEVER include date/time in BOOKING** - tool already has it in pendingBooking context\\n5. **Call calendarAgent for ANY appointment-related request** - availability checks, time selection, cancellations, etc.\\n\\n=== EXAMPLE CONVERSATION ===\\n\\nUser: \\\"Quiero una cita rápida\\\"\\nYou: calendarAgent(query: \\\"Quiero una cita rápida\\\")\\nTool: \\\"📅 Disponibilidad esta semana: Lunes 4: 11:00, 11:30, 12:00...\\\"\\n\\nUser: \\\"Martes a las 3 PM\\\"\\nYou: calendarAgent(query: \\\"Martes a las 3 PM\\\")\\nTool: \\\"✅ ¡Perfecto! Para confirmar necesito: 1. Nombre completo 2. Email 3. ¿De qué trata tu consulta?\\\"\\n\\nUser: \\\"Juan Pérez, juan@mail.com, quiero una demo\\\"\\nYou: calendarAgent(query: \\\"BOOKING: name=Juan Pérez, email=juan@mail.com, reason=demo\\\")\\nTool: \\\"✅ ¡Cita reservada exitosamente!...\\\"\\n\\n=== TICKET AGENT ===\\n\\n**PURPOSE:** Complex projects, detailed budgets, in-depth consultations\\n\\n**ACCEPTS:** File attachments\\n\\n**COLLECT:** nombre, email, empresa (optional), servicio, asunto, descripcion, archivoAdjunto\\n\\n**FILE ATTACHMENTS:** When you see [SYSTEM: User attached file: URL], extract URL for archivoAdjunto field\\n\\n**JSON FORMAT (REQUIRED):**\\n{\\n  \\\"nombre\\\": \\\"Name\\\",\\n  \\\"email\\\": \\\"email@example.com\\\",\\n  \\\"empresa\\\": \\\"\\\",\\n  \\\"servicio\\\": \\\"Service\\\",\\n  \\\"asunto\\\": \\\"Subject\\\",\\n  \\\"descripcion\\\": \\\"Description\\\",\\n  \\\"archivoAdjunto\\\": \\\"https://url or empty string\\\"\\n}\\n\\n=== ROUTING RULES ===\\n\\n1. Quick appointment/demo/brief consultation → calendarAgent\\n2. Large project/detailed budget/complex inquiry → ticketAgent\\n3. Questions about services → RAGagent\\n4. Always use empty string \\\"\\\" if no data (NEVER use null)\\n5. Speak Spanish naturally\\n6. NEVER handle appointment logic yourself - ALWAYS delegate to calendarAgent",
          "maxIterations": 10
        }
      },
      "id": "9d44ce9f-2fbe-4c1e-ba8e-77e4a5b5a266",
      "name": "Ultimate Website Chatbot Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        176,
        -160
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "b5c043ac-71eb-4027-969f-5590e3acff4a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -176,
        224
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "ACV0x1hM8fnlwMsD",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "6fb09d29-1da7-4121-ae37-7d90da671bc5",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        64,
        304
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "name": "ticketAgent",
        "description": "Call this tool to create a support ticket. Collect: name, email, company, specific service needed, subject/reason, description, and optional file attachment. Format all data clearly for ticket creation.",
        "workflowId": {
          "__rl": true,
          "value": "G1oYf8PDKQ8h26wa",
          "mode": "list",
          "cachedResultUrl": "/workflow/G1oYf8PDKQ8h26wa",
          "cachedResultName": "Ticket Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.query }}"
          }
        }
      },
      "id": "2f6ae50c-fe68-4057-b1be-c26e7fe05bcc",
      "name": "ticketAgent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        304,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "name": "RAGagent",
        "description": "Call this tool to answer FAQs about Aurin services, portfolio, and expertise. Pass the user's question as input.",
        "workflowId": {
          "__rl": true,
          "value": "ivDdTsqIFM7DI29c",
          "mode": "list",
          "cachedResultUrl": "/workflow/ivDdTsqIFM7DI29c",
          "cachedResultName": "RAG Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "question": "={{ $json.query }}"
          }
        }
      },
      "id": "692d4107-143b-49a4-b578-d39165bb6475",
      "name": "RAGagent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        608,
        592
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "name": "calendarAgent",
        "description": "**WHEN TO CALL:** User requests appointment, asks about availability, selects a time, provides booking details, or wants to cancel/confirm. Call this tool for ANY appointment-related interaction.\\n\\n**REQUIRED INPUT:** Always pass 'query' parameter with user's exact message or formatted BOOKING data.\\n\\n**BOOKING FORMAT:** ONLY use after user has selected a time AND tool has requested user data. Format: 'BOOKING: name=Full Name, email=user@example.com, reason=brief reason'. NEVER include date/time in BOOKING - the tool already has it in context.\\n\\n**EXAMPLES:**\\n- User asks for availability → query: \\\"quiero una cita\\\"\\n- User selects time → query: \\\"martes a las 3 PM\\\"\\n- User provides data after tool request → query: \\\"BOOKING: name=Juan Pérez, email=juan@mail.com, reason=demo\\\"\\n\\n**STATE MANAGEMENT:** This tool maintains booking state (pendingBooking) across calls. Always call it sequentially for multi-step bookings.",
        "workflowId": {
          "__rl": true,
          "value": "1hDtxRoCnSslDzd9",
          "mode": "list",
          "cachedResultUrl": "/workflow/1hDtxRoCnSslDzd9",
          "cachedResultName": "Calendar Agent v5 (With Email Confirmation)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.query }}",
            "customerEmail": "={{ $('Store Context and FileUrl').first().json.customerEmail || '' }}",
            "pendingBooking": "={{ $('Store Context and FileUrl').first().json.pendingBooking || null }}",
            "customerData": "={{ $('Store Context and FileUrl').first().json.customerData || null }}"
          }
        }
      },
      "id": "6d46e6d7-5391-49d3-960e-ef1012d63420",
      "name": "calendarAgent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        752,
        256
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-output",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "output-text",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "session-id",
              "name": "sessionId",
              "value": "={{ $('Store Context and FileUrl').first().json.sessionId }}",
              "type": "string"
            },
            {
              "id": "metadata",
              "name": "metadata",
              "value": "={{ { pendingBooking: $json.pendingBooking || $json.pendingBookingIn || null, customerEmail: $json.customerEmail || '', customerData: $json.customerData || null } }}",
              "type": "object"
            },
            {
              "id": "pending-booking",
              "name": "pendingBooking",
              "value": "={{ $json.pendingBooking || $json.pendingBookingIn || null }}",
              "type": "object"
            },
            {
              "id": "customer-email",
              "name": "customerEmail",
              "value": "={{ $json.customerEmail || '' }}",
              "type": "string"
            },
            {
              "id": "customer-data",
              "name": "customerData",
              "value": "={{ $json.customerData || null }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -160
      ],
      "id": "fc4dffd2-282e-4c90-a4f6-aa00312532fc",
      "name": "Format Success Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        768,
        -160
      ],
      "id": "1550a409-f70a-4a5f-8bcb-7ab0dfc109d9",
      "name": "Respond Success"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Store Context and FileUrl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Context and FileUrl": {
      "main": [
        [
          {
            "node": "Ultimate Website Chatbot Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ultimate Website Chatbot Agent": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ultimate Website Chatbot Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Ultimate Website Chatbot Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "ticketAgent": {
      "ai_tool": [
        [
          {
            "node": "Ultimate Website Chatbot Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "RAGagent": {
      "ai_tool": [
        [
          {
            "node": "Ultimate Website Chatbot Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calendarAgent": {
      "ai_tool": [
        [
          {
            "node": "Ultimate Website Chatbot Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b27e5f03-da15-4051-b5a7-9d6310f1347d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb1d2639bfd28e6a4dea7c6abeadac554e9d9182503dceedf7cc099b750e578d"
  },
  "id": "WFX6r8v58WSuBw1P",
  "tags": []
}