src/components/modules/chatbot/agents/Confirm Appointment Webhook.json
{
  "name": "Confirm Appointment Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "confirm-appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -608,
        -48
      ],
      "id": "a315e9b4-1b0e-4410-9fce-3eeff66553c7",
      "name": "Webhook",
      "webhookId": "confirm-appointment-webhook-id"
    },
    {
      "parameters": {
        "jsCode": "// === VALIDATE REQUEST ===\nconst body = $input.item.json.body;\nconst eventId = body.eventId;\nconst email = body.email;\nconst action = body.action;\n\nconsole.log('=== CONFIRM APPOINTMENT ===');\nconsole.log('EventId:', eventId);\nconsole.log('Email:', email);\nconsole.log('Action:', action);\n\nif (!eventId || !email || action !== 'confirm') {\n  throw new Error('Invalid request: missing eventId, email, or action');\n}\n\nreturn [{\n  json: {\n    eventId,\n    email,\n    action\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -48
      ],
      "id": "bc057ed6-3592-44b5-b3eb-70da5c79816a",
      "name": "Validate Request"
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "eventId": "={{ $json.eventId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -176,
        -48
      ],
      "id": "af9ed0d2-052a-4301-8d3b-05e96c5504a5",
      "name": "Get Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zTherxx0tHk8018C",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "eventId": "={{ $json.id }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        64,
        -48
      ],
      "id": "00707918-1b26-4dd9-bbb5-3efdf37e84a8",
      "name": "Update Event (Confirm)",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zTherxx0tHk8018C",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === FORMAT SUCCESS RESPONSE ===\nconst updatedEvent = $input.item.json;\n\nconsole.log('✅ Appointment confirmed:', updatedEvent.id);\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Cita confirmada exitosamente',\n    eventId: updatedEvent.id,\n    confirmed: true,\n    confirmedAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -48
      ],
      "id": "d1febf64-0a4a-429f-a84b-108f0b88d5ee",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        496,
        -48
      ],
      "id": "d96e2fa3-05f2-412f-906a-c5681a6b80fb",
      "name": "Respond"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Get Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Event": {
      "main": [
        [
          {
            "node": "Update Event (Confirm)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Event (Confirm)": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a077a6e0-21f6-4473-9cf5-acc0da5f13a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb1d2639bfd28e6a4dea7c6abeadac554e9d9182503dceedf7cc099b750e578d"
  },
  "id": "Cfiw6EsMG9E0hlEx",
  "tags": []
}