src/components/modules/chatbot/agents/Confirm Appointment Webhook.json
{
  "name": "Confirm Appointment Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "confirm-appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-480, 240],
      "webhookId": "confirm-appointment-webhook-id"
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming data from Vercel API\nconst body = $json.body;\nconst eventId = body.eventId;\nconst email = body.email;\nconst action = body.action; // 'confirm'\n\nif (!eventId || !email) {\n  throw new Error('Missing eventId or email');\n}\n\nconsole.log('Confirming appointment:', { eventId, email, action });\n\nreturn [{\n  json: {\n    eventId,\n    email,\n    action\n  }\n}];"
      },
      "id": "parse-data",
      "name": "Parse Request Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-256, 240]
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "eventId": "={{ $json.eventId }}"
      },
      "id": "get-event",
      "name": "Get Event Details",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [-32, 240],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare updated event data\nconst event = $json;\nconst email = $('Parse Request Data').item.json.email;\n\n// Verificar que el email coincida con los asistentes\nconst isValidAttendee = event.attendees?.some(a => a.email === email);\n\nif (!isValidAttendee) {\n  throw new Error('Email no coincide con los asistentes de la cita');\n}\n\n// Actualizar título y descripción\nconst newSummary = event.summary.replace('[PENDIENTE CONFIRMACIÓN]', '[CONFIRMADA]');\nconst newDescription = (event.description || '').replace(\n  'Esta cita requiere confirmación del usuario en las próximas 24 horas.',\n  'Cita confirmada por el usuario el ' + new Date().toLocaleString('es-MX', { timeZone: 'America/Mexico_City' }) + '.'\n);\n\nreturn [{\n  json: {\n    eventId: event.id,\n    summary: newSummary,\n    description: newDescription,\n    originalEvent: event\n  }\n}];"
      },
      "id": "prepare-update",
      "name": "Prepare Update Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [192, 240]
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "eventId": "={{ $json.eventId }}",
        "useDefaultReminders": false,
        "updateFields": {
          "title": "={{ $json.summary }}",
          "description": "={{ $json.description }}"
        }
      },
      "id": "update-event",
      "name": "Update Event to CONFIRMADA",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [416, 240],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const event = $json;\nconst email = $('Parse Request Data').item.json.email;\n\nconsole.log('Appointment confirmed successfully:', {\n  eventId: event.id,\n  summary: event.summary,\n  email\n});\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Cita confirmada exitosamente',\n    eventId: event.id,\n    summary: event.summary,\n    startTime: event.start?.dateTime,\n    email\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [864, 240]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parse Request Data", "type": "main", "index": 0 }]]
    },
    "Parse Request Data": {
      "main": [[{ "node": "Get Event Details", "type": "main", "index": 0 }]]
    },
    "Get Event Details": {
      "main": [[{ "node": "Prepare Update Data", "type": "main", "index": 0 }]]
    },
    "Prepare Update Data": {
      "main": [[{ "node": "Update Event to CONFIRMADA", "type": "main", "index": 0 }]]
    },
    "Update Event to CONFIRMADA": {
      "main": [[{ "node": "Format Success Response", "type": "main", "index": 0 }]]
    },
    "Format Success Response": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "473b8e2f44c2c249c630a674e0ffd242a718055278d7a389908825386c510f30"
  },
  "tags": []
}
